.body{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    margin: auto;
}


.iframe {
    width: 5px;
    height: 5px;
}

.button {
    margin-top: 25%;
    align-self: center;
    font-size: 2rem;
    width: 50%;
}