.body{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    margin: auto;
}


.iframe {
    width: 1px;
    height: 1px;
}

.button {
    margin-top: 10%;
    align-self: center;
}