
/*

$darkgreen: #36B348;
$green: #33E87F; 
$cyan: #45FFC4;
$bluwhite: #DAF5F3;
$blu: #38D7FF;

font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;


*/


body {
  background-color: #DAF5F3;
  font-family: 'Open Sans', sans-serif;
}



.cover {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: #000;
  margin-top: 15%; 
}

.cover-img{
  max-width: 12rem;
}

.cover-text {
  font-size: 0.7rem;
  max-width: 35rem; 
}

.hidden {
  display: none;
}

.menu, .help{
  max-width: 2.5rem;
}

.logo {
  margin-top: 5px; 
  width: 3.5rem;
  height: 2.5rem;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; 
  padding: 0.3rem;
  background-color: #33E87F;
}

.main-button-top-img, .main-button-bottom-img {
  max-width: 2rem;
}

.main-button-top {
  display: flex;
  background-color: #33E87F;
  flex-flow: column nowrap;
  margin: 40% auto auto auto;
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 1px solid #000;
  border-bottom: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.main-button-bottom {
  display: flex;
  background-color: #38D7FF;
  flex-flow: column nowrap;
  margin: 0 auto;
  width: 200px;
  height: 100px; /* as the half of the width */
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 1px solid #000;
  border-bottom: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
.main-button-top-img {
width: 3rem;
height: 1.5rem; 
border-top-left-radius: 1.5rem;
border-top-right-radius: 1.5rem;
border: 1px solid #000;
border-bottom: 0;

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.main-button-bottom-img {

}
*/