/*

$deepblu: #0037ff;
$seablu: #005eeb; 
$poolblu: #0095ff;
$skyblu: #00b4eb;
$cyan: #01f3ff;
$black: #000;
$white: #FFF;

font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;


*/

body {
    background-color: #DDD;
    font-family: 'Roboto Slab', serif;
}

.cover {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: #000;
    margin-top: 15%;
}

.cover-img {
    max-width: 12rem;
}

.cover-text {
    font-size: 0.7rem;
    max-width: 35rem;
}

.hidden {
    display: none;
}

.menu,
.help {
    max-width: 3rem;
}

.logo {
    margin-top: 5px;
    width: 4rem;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.6rem;
    background-color: #0037ff;
}

.qr-code {
    max-width: 90%;
}

.qr-fig {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    padding: 0.5rem;
}

.placa-field {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    padding-top: 0.1rem;
    margin-top: 0;
}

.checkmark {
    max-width: 2rem;
    align-self: center;
    border: solid 1px;
    border-color: #0037ff;
    border-radius: 15%;
}

.insira-placa-text {
    margin: 1rem;
    margin-top: 40%;
}